# Week 1 Exercises: Sequence types, mapping types
- Programming in Python for Business and Life Science Analytics (MGT001437, englisch)
- School of Management & School of Life Sciences, <span style = "color: blue">Technical University of Munich</span>  
- Provided by the chair of Sustainability Assessment of Food & Agricultural Systems (SAFAS), Yanfei Shan.
- Time: 2 hours (30 mins for self-learning and 1h30 for exercises)
### Self-learning

In [ ]:
# change key and values
# values should be unique

# Original dictionary
original_dict = {
    'Canada': 'CAN',
    'United States of America': 'USA',
    'Mexico': 'MEX',
    'Brazil': 'BRA'
}

# Inverting the dictionary
inverted_dict = {value: key for key, value in original_dict.items()}

print(inverted_dict)


# Original dictionary with possible non-unique values
original_dict = {
    'Canada': 'CAN',
    'United States of America': 'USA',
    'Mexico': 'USA',  # Note the repeated value 'USA'
    'Brazil': 'BRA'
}

# Inverting the dictionary safely
inverted_dict = {}
for key, value in original_dict.items():
    if value not in inverted_dict:
        inverted_dict[value] = [key]
    else:
        inverted_dict[value].append(key)

print(inverted_dict)

__Optional__, we'll cover it in <span style="color: blue">Week 5</span>.

In [ ]:
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charles'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'London']
}

df = pd.DataFrame(data)

# Convert DataFrame to a dictionary
dict_default = df.to_dict()  # Uses default orient='dict'
dict_records = df.to_dict(orient='records')

print("Dictionary (default):", dict_default)
print("Dictionary (records):", dict_records)

pd.Series(df['Age'].values, index = df['Name']).to_dict()

 ### Exercise

- quiz from the slides  
Provide code that does the following:  
  - Create a list called letters containing the items ‘a’, ‘b’, ‘c’, ‘d’, ‘e’, ‘f’, and ‘g’.  
  - Return the letter ‘a’ from the list (letters).  
  - Check if the letter ‘t’ is in the list.  
  - Return the length the list.  
  - Append the letter ‘h’ to the list.  
  - Replace the items ‘c’, ‘d’, ‘e’, by ‘C’, ‘D’, ‘E’.  
  - Remove the items ‘C’, ‘D’, ‘E’.

 - Solutions are relatively short, no more than 10 lines
 1. Given a list of numbers, use a __list comprehension__ to create a __new list__ that contains <span style="color: blue">__each number squared__</span>, but only if the number is <span style="color: blue">__even__</span>. 
 Print the resulting list.  
 (7 mins)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Expected output: [4, 16, 36, 64, 100]

# hint: calculating signs we mentioned in the first week

2. Given a list of tuples where each tuple contains a student name and their grade, create a __dictionary__ where the __keys__ are the <span style="color: blue">students' names</span> and the __values__ are their <span style="color: blue">grades</span>. Then, print each student's name with their grade.  
(7 mins)

In [ ]:
grades = [("Alice", 88), ("Bob", 72), ("Chris", 91)]

""""
Expected output:
Alice: 88
Bob: 72
Chris: 91
"""

# hint: create a dictionary; dict.items()

3. Write a script that <span style="color: blue">iterates through a list</span> of numbers and prints whether each number is even or odd.  
(8 mins)

In [ ]:
numbers = [10, 23, 15, 8]
""""
Expected output:
10 is Even
23 is Odd
15 is Odd
8 is Even
"""

# hint: nested control flow statements

4. Given a list of tuples, each containing the name of a product and the amount sold, write a Python script to <span style="color: blue">aggregate the total sales for each product</span> and print the result.  
(10 mins)

In [ ]:
sales_data = [("apple", 10), ("banana", 20), ("apple", 15), ("orange", 10), ("banana", 5), ("banana", 15)]

""""
Expected output:
apple: 25
banana: 40
orange: 10
"""

"""Hint:

for i in sales_data:
    print(i)

for i,j in sales_data:
    print(i, j)

"""

5. Write a Python script that continuously asks the user to input a <span style="color: blue">positive number</span>. If the user enters a negative number, the program should stop and print the sum of all previously entered positive numbers.  
(8 mins)

In [ ]:
# hint: input will return string object (type conversion)

6. You have data representing the height (in meters) of students in different classes. Extract and print the <span style="color: blue">average height for each class</span>.  
(10 mins)

In [ ]:
heights = [
    [1.8, 1.6, 1.7],  # Class A
    [1.6, 1.55, 1.9],  # Class B
    [1.67, 1.73, 1.72] # Class C
]

""""
Expected output:
Average height for Class A: 1.7
Average height for Class B: 1.683
Average height for Class C: 1.706
"""

"""
hint: 
enumarate(), sum(), len()

a = float(0.02738469)
print(f"Round {a} into 4 digits is {a:.4f}")

"""

7. Given several lists of numerical data representing different categories of expenses, merge these lists into a single list. Then, calculate and print the <span style="color: blue">average expense and the highest expense</span>.  
(8 mins)

In [ ]:
food_expenses = [200, 150, 300]
travel_expenses = [1000, 800]
entertainment_expenses = [300, 200, 400]

""""
Expected output:
Total expenses: [200, 150, 300, 1000, 800, 300, 200, 400]
Average expense: 418.75
Highest expense: 1000
"""

# hint: list extend, max()

8. _sales_data_ is a dictionary where each key is a department in a company, and the value is another dictionary with employee names as keys and their sales numbers as values. Calculate and print <span style="color: blue">the total sales for each department</sapn> and identify the employee with the <span style="color: blue">highest sales in each department</span>.  
(8 mins)

In [ ]:
sales_data = {
    "Electronics": {"Alice": 240, "Bob": 150},
    "Clothing": {"Charlie": 300, "Debra": 490},
    "Toys": {"Eve": 500, "Frank": 460}
}

""""
Expected output:
Total sales in Electronics: 390
Highest seller in Electronics: Alice with 240
Total sales in Clothing: 790
Highest seller in Clothing: Debra with 490
Total sales in Toys: 960
Highest seller in Toys: Eve with 500
"""

9. Given a list of names with inconsistent capitalization and extra spaces, write a Python script to clean up each name so that it has proper capitalization and no leading or trailing spaces. Finally, print the <span style="color: blue">cleaned names</span>.  
(5 min)

In [ ]:
names = ["  alice  ", "Bob", "  CHRIS", "Debra   "]

""""
Expected output:
Alice
Bob
Chris
Debra
"""

10. Write a Python script that counts how many times each student's name <span style="color: blue">appears</span> in a list using dictionary methods.  
(8 mins)

In [ ]:
student_names = ["Alice", "Bob", "Alice", "Charles", "Bob", "David", "Alice"]

""""
Expected output:
{'Alice': 3, 'Bob': 2, 'Charles': 1, 'David': 1}
"""

11. Create a new list of student IDs from a list of student names <span style="color: blue">using a dictionary to map names to IDs</span>.  
(8 min)

In [ ]:
student_names = ["Alice", "Bob", "Eve","Alice"]
student_ids = {"Alice": "A01", "Bob": "B01", "Charles": "C01"}

""""
Expected output:
["A01", "B01", "Unknown", "A01"]
"""

12. You have a nested dictionary where each student has registered courses along with their grades.
- Task 1: Add a new grade for an existing course or a new course for an existing student.
- Task 2: If the student does not exist, add them to the dictionary.
- Task 3: Calculate the average grade for each student and print their courses and grades.  
(23 mins)

In [ ]:
students = {
    "Alice": {"Math": [88, 92], "Science": [90]},
    "Bob": {"Math": [75, 85]}
}

# Adding a grade to an existing course, student name: Alice, course name: Math, grade: 95




# Adding a new student student name: Charlie, course name: History, grade: 85



# calculating average grades and printing summary(round to 2 digits)